/* general */
*{
    font-family: 'Roboto', sans-serif;
    cursor: default;
}
body{
    background-color: #F7F7F7;
}
a{
    color: #8D33CC;
}
a:hover{
    text-decoration: underline;
    color: #6A2699;
}
a, .clickable{
    cursor: pointer;
}
textarea, input{
    cursor: text;
}
.form-check input{
    cursor: default;
}
.agreement-terms label{
    font-weight: 400;
}
.signup-form button{
    margin-top: 20px;
}

/* nav */
nav .current{
    color: #8D33CC;
}
nav a{
    color: black;
}
nav .nav-link:hover{
    color: #8D33CC;
    text-decoration: underline;
}

/* signup */
textarea {
    resize: none;
}
.form-info {
    font-style: italic;
    font-size: .9em;
    margin: 10px;
    color: gray;
}
form label{
    font-size: 1em;
    font-weight: 500; 
}

/* flex tag */
.tag-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.tag-item{
    margin: 5px;
}
.tag{
    display: flex;
    padding: 2px;  
    font-size: .9em;  
    color: #67869c;
    background-color: #D8E8FF;
    border-color: transparent;
    border-radius: 5px;
    text-align: center;
    border-style: solid;
    line-height: 1em;
    vertical-align: middle;
}
.tag:hover{
    background-color: rgb(206, 226, 240);
}
.action-tag{
    font-size: 1.1em;
    font-weight: 800;
    margin-left: 2px;
    cursor: pointer;
}
.add-tag:hover{
    color: rgb(90, 212, 60);
}
.remove-tag:hover{
    color: rgb(221, 51, 51);
}

/* user avatar upload */
.user-avatar-image{
    background-image: url("../img/user_default.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 120px;
    height: 120px;
}
.user-avatar-upload{
    width: 120px;
    margin: 0 auto;
    text-align: center;
}
.add-photo{
    margin-top: 5px;
    display: inline-block;
    font-size: .8em;
    font-weight: 500;
    text-align: center;
    line-height: 1em;
    vertical-align: middle;
}
.upload-icon{
    color: darkgray;
    cursor: pointer;
    margin-right: 5px;
    width: 24px;
    height: 24px;
}
.upload-icon:hover{
    color: gray;
}

/* dashboard */
.user-avatar{
    display: block;
    margin: 0 auto;
    width: 100px;
    border: .1em solid lightgray;
}

/* btns */
.btn-custom-primary{
    color: white;
    background-color: #8D33CC;
}

/* profile */
.profile .profile-avatar{
    margin-bottom: 15px;
}
.profile h5 {
    font-size: 1.1em;
}
.profile p {
    font-size: .9em;    
}

/* post */
.post{
    margin-bottom: 10px;
}
.post p{
    font-size: .9em;
}
.post h5{
    font-size: 1.4em;
}
.post span{
    font-size: .9em;
}
.post-date{
    font-style: italic;
    font-size: .8em;
    font-weight: 500;
}
.post-actions{
    margin-top: 10px;
    margin-bottom: 10px;
}
.dashboard-post-icon{
    margin: 6px;
    color: gray;
}
.short-text-link{
    color: black;
    margin-left: 2px;
    text-decoration: underline;
    font-weight: bold;
}

/* navbar */
nav{
    background: #8D33CC;
}
nav .navbar-brand{
    color: white;
}

/* profile bagdes */
.badges .number{
    font-size: 1.2em;
}
.badges span{
    color: gray;
    font-size: 0.9em;
}

/* user actions */
.user-actions button{
margin-bottom: 5px;
}